* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background-color: #43ade9;
  width: 333px;
  height: 444px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  position: relative;
}

ul {
  list-style: none;
  color: black;
}

li {
  background-color: white;
  border-radius: 6px;
  margin: 11px 0px;
  width: 190px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change {
  display: block;
  margin: auto;
  background-color: blue;
  border: none;
  border-radius: 6px;
  padding: 9px;
  color: white;
  font-size: 1.1em;
  margin-top: 33px;
}

.description {
  margin: 6px 0px;
}

h1 {
  font-size: 3.3em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.3em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 9px;
  right: 11px;
  padding: 6px;
  font-size: 1.1em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: white;
}

.save {
  background-color: blue;
  color: white;
  border: none;
  padding: 11px;
  border-radius: 6px;
  margin-top: 11px;
}

input {
  outline: none;
  padding: 6px;
  font-size: 1.1em;
  margin-bottom: 11px;
}

label {
  margin-top: 9px;
  font-size: 1.1em;
}
